.media-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


.media-list-container #container img{
    width: 250px; 
    height: 350px;
}



